flows_lamppi.json
[{"id":"64c7fbb4.483b9c","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"f510c508.31a07","type":"tab","label":"Touch Control","disabled":false,"info":""},{"id":"33a069d5.a98d86","type":"tab","label":"Maintenance","disabled":false,"info":""},{"id":"301038a5.c63028","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"982399aa.32843","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"dd20a2b.3e8f7e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#008000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#008000","edited":true},"page-titlebar-backgroundColor":{"value":"#008000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00cc00","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#008000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Lamp","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"803b05df.4e79c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8ab6e37b.ba26d8","type":"ui_group","z":"","name":"Status","tab":"803b05df.4e79c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9dbe779.2b24e8","type":"ui_group","z":"","name":"Colour Control","tab":"803b05df.4e79c","order":2,"disp":true,"width":"6","collapse":false},{"id":"58ec395a.5261c8","type":"ui_group","z":"","name":"Control","tab":"803b05df.4e79c","disp":true,"width":"6","collapse":false},{"id":"744aa7e1.b9c6e8","type":"serial out","z":"64c7fbb4.483b9c","name":"Mote Host","serial":"982399aa.32843","x":1500,"y":60,"wires":[]},{"id":"aff8b9fb.18c76","type":"inject","z":"64c7fbb4.483b9c","name":"Initialise Mote","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":60,"wires":[["aebb9f77.49d7c"]]},{"id":"aebb9f77.49d7c","type":"function","z":"64c7fbb4.483b9c","name":"Configure channels","func":"// binary \"motec\" + channel + num_of_leds + 1\n// binary \"moteo\" + bgr_for_each_channel_and_each_led\nconfig = Buffer.alloc(3);\nconfig.writeUInt8(16, 1);\nconfig.writeUInt8(1, 2);\nfor (var i = 1; i <5; i++) {\n    config.writeUInt8(i, 0);\n    node.send({payload: Buffer.alloc(4,'mote','ascii')});\n    node.send({payload: Buffer.alloc(1,'c','ascii')});\n    node.send({payload: config});\n}\n\nreturn null;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["744aa7e1.b9c6e8"]]},{"id":"fe30d627.55a16","type":"inject","z":"64c7fbb4.483b9c","name":"Set channel 3 pixel 0 white","topic":"","payload":"{\"channel\":3,\"pixel\":1,\"r\":255,\"g\":255,\"b\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["8c5fe659.4901f"]]},{"id":"8c5fe659.4901f","type":"function","z":"64c7fbb4.483b9c","name":"Send one pixel","func":"// binary \"moteo\" + bgr_for_each_channel_and_each_led\n\n//Get the current brightness or set to full\nbrightness = flow.get(\"brightness\") || 1;\n\n// get the current pixel value list\npixels = flow.get(\"pix\") || {};\n\n// fill the pixel list if it is empty\nif (Object.keys(pixels).length === 0 && pixels.constructor === Object) {\n    pixels[\"channel\"] = [];\n    for (var i = 0; i < 4; i++) {\n        pixels.channel.push({led: []});\n        for (var j = 0; j < 16; j++) {\n            pixels.channel[i].led.push({r: 0, g: 0, b: 0});\n        }\n    }\n}\n\n// If you get a populated pixel object, do this\nif (msg.payload.hasOwnProperty(\"channel\") && msg.payload.hasOwnProperty(\"pixel\") && msg.payload.hasOwnProperty(\"r\") && msg.payload.hasOwnProperty(\"g\") && msg.payload.hasOwnProperty(\"b\")) {\n    pixels.channel[msg.payload.channel].led[msg.payload.pixel].r = msg.payload.r;\n    pixels.channel[msg.payload.channel].led[msg.payload.pixel].g = msg.payload.g;\n    pixels.channel[msg.payload.channel].led[msg.payload.pixel].b = msg.payload.b;\n}\nvar pixbuf = Buffer.alloc(192);\nfor (var k = 0; k < 4; k++) {\n    for (var l = 0; l < 16; l++) {\n        //node.warn(\"k is \" + k + \", l is \" + l);\n        pixbuf[(k*48)+(3*l)] = Math.floor(pixels.channel[k].led[l].b * brightness);\n        pixbuf[(k*48)+(3*l)+1] = Math.floor(pixels.channel[k].led[l].g * brightness);\n        pixbuf[(k*48)+(3*l)+2] = Math.floor(pixels.channel[k].led[l].r * brightness);\n    }\n}\nflow.set(\"pix\",pixels);\nnode.send({payload: Buffer.alloc(4,'mote','ascii')});\nnode.send({payload: Buffer.alloc(1,'o','ascii')});\nnode.send({payload: pixbuf});","outputs":1,"noerr":0,"x":1360,"y":180,"wires":[["744aa7e1.b9c6e8"]]},{"id":"a5b33ab1.2b55e8","type":"inject","z":"64c7fbb4.483b9c","name":"Set channel 3 pixel 0 off","topic":"","payload":"{\"channel\":3,\"pixel\":1,\"r\":0,\"g\":0,\"b\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["8c5fe659.4901f"]]},{"id":"28e58dd1.2b2682","type":"inject","z":"64c7fbb4.483b9c","name":"Randomise!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["e8004ca0.c3d708"]]},{"id":"e8004ca0.c3d708","type":"random","z":"64c7fbb4.483b9c","name":"Channel","low":"0","high":"3","inte":"true","property":"channel","x":260,"y":220,"wires":[["a6c0fae1.5efb68"]]},{"id":"a6c0fae1.5efb68","type":"random","z":"64c7fbb4.483b9c","name":"Pixel","low":"2","high":"15","inte":"true","property":"pixel","x":390,"y":220,"wires":[["ed8e049b.991cd8"]]},{"id":"ed8e049b.991cd8","type":"random","z":"64c7fbb4.483b9c","name":"Red","low":"0","high":"255","inte":"true","property":"r","x":510,"y":220,"wires":[["d3675d8d.517cb8"]]},{"id":"d3675d8d.517cb8","type":"random","z":"64c7fbb4.483b9c","name":"Green","low":"0","high":"255","inte":"true","property":"g","x":630,"y":220,"wires":[["3243afb5.7b0398"]]},{"id":"3243afb5.7b0398","type":"random","z":"64c7fbb4.483b9c","name":"Blue","low":"0","high":"255","inte":"true","property":"b","x":750,"y":220,"wires":[["14f1944d.4a1ecc"]]},{"id":"14f1944d.4a1ecc","type":"change","z":"64c7fbb4.483b9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"move","p":"r","pt":"msg","to":"payload.r","tot":"msg"},{"t":"move","p":"g","pt":"msg","to":"payload.g","tot":"msg"},{"t":"move","p":"b","pt":"msg","to":"payload.b","tot":"msg"},{"t":"move","p":"channel","pt":"msg","to":"payload.channel","tot":"msg"},{"t":"move","p":"pixel","pt":"msg","to":"payload.pixel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[["8c5fe659.4901f"]]},{"id":"c6c975fe.29d48","type":"inject","z":"64c7fbb4.483b9c","name":"Turn all off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["d9ba2d16.de3648"]]},{"id":"d9ba2d16.de3648","type":"function","z":"64c7fbb4.483b9c","name":"Turn off all lights","func":"for (var i = 0; i < 4; i++) {\n    for (var j = 0; j < 16; j++) {\n        node.send({payload: {channel: i, pixel: j, r: msg.payload.r, g: msg.payload.g, b: msg.payload.b}});\n    }\n}","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["8c5fe659.4901f"]]},{"id":"1011cfc3.573c1","type":"inject","z":"64c7fbb4.483b9c","name":"Set Cheerlights","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["a7f99601.d1a158"]]},{"id":"ca071dcc.cb974","type":"http request","z":"64c7fbb4.483b9c","name":"","method":"GET","ret":"obj","url":"http://api.thingspeak.com/channels/1417/field/2/last.json","tls":"","x":460,"y":400,"wires":[["bf928056.2b426"]]},{"id":"bf928056.2b426","type":"function","z":"64c7fbb4.483b9c","name":"","func":"msg.payload.r = parseInt(msg.payload.field2.substring(1,3),16);\nmsg.payload.g = parseInt(msg.payload.field2.substring(3,5),16);\nmsg.payload.b = parseInt(msg.payload.field2.substring(5),16);\nmsg.payload.pixel = 0;\nfor (var i = 0; i < 4; i++) {\n    msg.payload.channel = i;\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["8c5fe659.4901f","b9432aca.2a793"]]},{"id":"d635049.1aa1178","type":"function","z":"64c7fbb4.483b9c","name":"Roll Up Rows","func":"for (var i = 2 ; i < 16; i++) {\n    for (var j = 0; j < 4; j++) {\n        node.send({payload: {channel: j, pixel: i, r: msg.payload.r, g: msg.payload.g, b: msg.payload.b}});\n    }\n}","outputs":1,"noerr":0,"x":1410,"y":400,"wires":[["b250922.11a8e7"]]},{"id":"b250922.11a8e7","type":"delay","z":"64c7fbb4.483b9c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":420,"wires":[["8c5fe659.4901f"]]},{"id":"a207d702.d1077","type":"function","z":"64c7fbb4.483b9c","name":"Random on","func":"var light_array = [];\n\nfor (var i = 0; i < 4; i++) {\n    for (var j = 2; j < 16; j ++) {\n        light_array.push({payload: {channel: i, pixel: j, r: msg.payload.r, g: msg.payload.g, b: msg.payload.b}});\n    }\n}\nvar m = light_array.length, t, k;\n\n// While there remain elements to shuffle…\nwhile (m) {\n    // Pick a remaining element…\n    k = Math.floor(Math.random() * m--);\n\n    // And swap it with the current element.\n    t = light_array[m];\n    light_array[m] = light_array[k];\n    light_array[k] = t;\n}\nfor (l = 0; l < light_array.length; l++) {\n    node.send(light_array[l]);\n}","outputs":1,"noerr":0,"x":1410,"y":440,"wires":[["b250922.11a8e7"]]},{"id":"de108ccb.aff81","type":"function","z":"64c7fbb4.483b9c","name":"Roll Up Columns","func":"for (var j = 0; j < 4; j++) {\n    for (var i = 2 ; i < 16; i++) {\n        node.send({payload: {channel: j, pixel: i, r: msg.payload.r, g: msg.payload.g, b: msg.payload.b}});\n    }\n}","outputs":1,"noerr":0,"x":1390,"y":360,"wires":[["b250922.11a8e7"]]},{"id":"e3c2ce11.9d2a7","type":"rpi-gpio in","z":"f510c508.31a07","name":"Touch 0","pin":"29","intype":"up","debounce":"25","read":false,"x":90,"y":120,"wires":[["b2bbc85.7bda938","11d4e03d.885e88"]]},{"id":"8b924d6b.a687a8","type":"rpi-gpio in","z":"f510c508.31a07","name":"Touch 1","pin":"31","intype":"up","debounce":"25","read":false,"x":90,"y":280,"wires":[["994d6ac.91e6418","37ce3e0b.8087aa"]]},{"id":"cd6cf1dc.cbd6b8","type":"rpi-gpio in","z":"f510c508.31a07","name":"Touch 2","pin":"33","intype":"up","debounce":"25","read":false,"x":90,"y":440,"wires":[["df767298.27654","95f3618d.b02948"]]},{"id":"711904d2.addea4","type":"rpi-gpio in","z":"f510c508.31a07","name":"Touch 3","pin":"35","intype":"up","debounce":"25","read":false,"x":90,"y":600,"wires":[["da341321.10e39","db013227.d34a8"]]},{"id":"348c7b28.50a3f4","type":"rpi-gpio in","z":"f510c508.31a07","name":"Touch 4","pin":"37","intype":"up","debounce":"25","read":false,"x":90,"y":760,"wires":[["6d62a79f.e591e","c30c7414.5c6a28"]]},{"id":"16898095.8b379f","type":"inject","z":"33a069d5.a98d86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["d099018f.751618"]]},{"id":"19d6b858.3f3e38","type":"debug","z":"33a069d5.a98d86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":60,"wires":[]},{"id":"d099018f.751618","type":"exec","z":"33a069d5.a98d86","command":"sudo","addpay":false,"append":"shutdown -h now","useSpawn":"true","timer":"","oldrc":false,"name":"","x":230,"y":60,"wires":[["19d6b858.3f3e38"],[],[]]},{"id":"da341321.10e39","type":"debug","z":"f510c508.31a07","name":"T3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":640,"wires":[]},{"id":"6d62a79f.e591e","type":"debug","z":"f510c508.31a07","name":"T4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":800,"wires":[]},{"id":"2f50c592.48256a","type":"link out","z":"f510c508.31a07","name":"touch0","links":["e1f9d89d.851038"],"x":555,"y":280,"wires":[]},{"id":"e1f9d89d.851038","type":"link in","z":"64c7fbb4.483b9c","name":"On and off","links":["2f50c592.48256a"],"x":195,"y":680,"wires":[["855d1889.9ecf18","fd1c20c6.c475f"]]},{"id":"727abc02.f4477c","type":"function","z":"f510c508.31a07","name":"Toggle flow.touchStatus0","func":"var status = flow.get(\"touchStatus0\") || false;\nmsg.payload = !status;\nflow.set(\"touchStatus0\", !status);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["2f50c592.48256a"]]},{"id":"994d6ac.91e6418","type":"switch","z":"f510c508.31a07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":280,"wires":[["727abc02.f4477c"]]},{"id":"855d1889.9ecf18","type":"switch","z":"64c7fbb4.483b9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":680,"wires":[["332b7adf.0ff7b6"],["ca883d65.07de5"]]},{"id":"dd9af336.12ee38","type":"random","z":"64c7fbb4.483b9c","name":"","low":"1","high":"4","inte":"true","property":"choice","x":1060,"y":360,"wires":[["df41dd4e.8dd4c8","2b5564e7.f6ef9c"]]},{"id":"df41dd4e.8dd4c8","type":"switch","z":"64c7fbb4.483b9c","name":"","property":"choice","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1190,"y":360,"wires":[["de108ccb.aff81"],["d635049.1aa1178"],["a207d702.d1077"],["2cf84666.505f82"]]},{"id":"4f4646e.0a94eb8","type":"inject","z":"64c7fbb4.483b9c","name":"Randomise!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["99d2ec11.9687c8"]]},{"id":"99d2ec11.9687c8","type":"random","z":"64c7fbb4.483b9c","name":"Red","low":"0","high":"255","inte":"true","property":"r","x":250,"y":300,"wires":[["3005bb75.7820b4"]]},{"id":"3005bb75.7820b4","type":"random","z":"64c7fbb4.483b9c","name":"Green","low":"0","high":"255","inte":"true","property":"g","x":370,"y":300,"wires":[["90d3c76f.12409"]]},{"id":"90d3c76f.12409","type":"random","z":"64c7fbb4.483b9c","name":"Blue","low":"0","high":"255","inte":"true","property":"b","x":490,"y":300,"wires":[["3de24ce.0a725b4"]]},{"id":"3de24ce.0a725b4","type":"change","z":"64c7fbb4.483b9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"move","p":"r","pt":"msg","to":"payload.r","tot":"msg"},{"t":"move","p":"g","pt":"msg","to":"payload.g","tot":"msg"},{"t":"move","p":"b","pt":"msg","to":"payload.b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[["dd9af336.12ee38"]]},{"id":"332b7adf.0ff7b6","type":"change","z":"64c7fbb4.483b9c","name":"White","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"r\":255,\"g\":255,\"b\":255}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["d635049.1aa1178"]]},{"id":"2cf84666.505f82","type":"function","z":"64c7fbb4.483b9c","name":"Roll Down Rows","func":"for (var i = 15 ; i > 1; i--) {\n    for (var j = 0; j < 4; j++) {\n        node.send({payload: {channel: j, pixel: i, r: msg.payload.r, g: msg.payload.g, b: msg.payload.b}});\n    }\n}","outputs":1,"noerr":0,"x":1400,"y":480,"wires":[["b250922.11a8e7"]]},{"id":"ca883d65.07de5","type":"change","z":"64c7fbb4.483b9c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"r\":0,\"g\":0,\"b\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":700,"wires":[["2cf84666.505f82"]]},{"id":"299be36a.6a334c","type":"link out","z":"f510c508.31a07","name":"touch1 (brightness)","links":["cb2fd0a4.f4d8e8"],"x":555,"y":440,"wires":[]},{"id":"3fc62454.8a1404","type":"function","z":"f510c508.31a07","name":"Toggle flow.brightness","func":"var values = [0.25, 0.5, 0.75, 1.0]\nvar brightness = flow.get(\"brightness\") || 0.75;\nif (values.findIndex(element => element === brightness) == (values.length - 1)) {\n    flow.set(\"brightness\", values[0]);\n}\nelse {\n    flow.set(\"brightness\", values[values.findIndex(element => element === brightness)+1]);\n}\nmsg.payload = brightness;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["299be36a.6a334c"]]},{"id":"df767298.27654","type":"switch","z":"f510c508.31a07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":440,"wires":[["3fc62454.8a1404"]]},{"id":"b9432aca.2a793","type":"switch","z":"64c7fbb4.483b9c","name":"","property":"fullCheerLights","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":400,"wires":[["dd9af336.12ee38"]]},{"id":"9bca1a58.e881a8","type":"change","z":"64c7fbb4.483b9c","name":"","rules":[{"t":"set","p":"fullCheerLights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1100,"wires":[["61df1e9a.a32208"]]},{"id":"87d4776d.9ecd7","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":800,"wires":[["12474d41.bf6b93"]]},{"id":"8d112b09.124c28","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["12474d41.bf6b93"]]},{"id":"f5c53772.fe5c28","type":"change","z":"64c7fbb4.483b9c","name":"","rules":[{"t":"set","p":"brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":260,"wires":[["8c5fe659.4901f"]]},{"id":"c4cbae6f.567338","type":"debug","z":"64c7fbb4.483b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1000,"wires":[]},{"id":"cb2fd0a4.f4d8e8","type":"link in","z":"64c7fbb4.483b9c","name":"Set flow brightness","links":["299be36a.6a334c"],"x":175,"y":260,"wires":[["f5c53772.fe5c28"]]},{"id":"fa4e6447.20b7a","type":"debug","z":"64c7fbb4.483b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":680,"wires":[]},{"id":"a7f99601.d1a158","type":"switch","z":"64c7fbb4.483b9c","name":"","property":"fullCheerLights","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":400,"wires":[["ca071dcc.cb974"]]},{"id":"ee8a9896.4fd788","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":880,"wires":[["12474d41.bf6b93"]]},{"id":"d6c11c55.5d6c8","type":"switch","z":"64c7fbb4.483b9c","name":"new status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":780,"wires":[["c4cbae6f.567338"],["7faedac6.1e65c4"],["7faedac6.1e65c4"]]},{"id":"12474d41.bf6b93","type":"rbe","z":"64c7fbb4.483b9c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":840,"wires":[["aa20b0d2.806168"]]},{"id":"6ba1b7c5.4efd6","type":"function","z":"64c7fbb4.483b9c","name":"Turn off cheerlights row","func":"msg.payload = {};\nmsg.payload.r = 0;\nmsg.payload.g = 0;\nmsg.payload.b = 0;\nmsg.payload.pixel = 0;\nfor (var i = 0; i < 4; i++) {\n    msg.payload.channel = i;\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":1030,"y":720,"wires":[["fa4e6447.20b7a","b250922.11a8e7"]]},{"id":"aa20b0d2.806168","type":"switch","z":"64c7fbb4.483b9c","name":"current status","property":"fullCheerLights","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":460,"y":840,"wires":[["d6c11c55.5d6c8","9bca1a58.e881a8","b52801ad.0953c"],["3e0f56b9.3b2732","9bca1a58.e881a8","b52801ad.0953c"],["c25d12c1.cf92a","9bca1a58.e881a8","b52801ad.0953c"]]},{"id":"3e0f56b9.3b2732","type":"switch","z":"64c7fbb4.483b9c","name":"new status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":840,"wires":[["6ba1b7c5.4efd6"],["c4cbae6f.567338"],["7faedac6.1e65c4"]]},{"id":"c25d12c1.cf92a","type":"switch","z":"64c7fbb4.483b9c","name":"new status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":900,"wires":[["7b4e4725.b34688","6ba1b7c5.4efd6"],["7b4e4725.b34688"],["c4cbae6f.567338"]]},{"id":"7b4e4725.b34688","type":"function","z":"64c7fbb4.483b9c","name":"Turn off main lights","func":"for (var i = 0; i < 4; i++) {\n    for (var j = 2; j < 16; j++) {\n        node.send({payload: {channel: i, pixel: j, r: 0, g: 0, b: 0}});\n    }\n}","outputs":1,"noerr":0,"x":1130,"y":900,"wires":[["b250922.11a8e7"]]},{"id":"f0048e1b.bc0038","type":"link out","z":"64c7fbb4.483b9c","name":"triggerCheerlights ->","links":["9c8ee996.dae7e8"],"x":1275,"y":780,"wires":[]},{"id":"9c8ee996.dae7e8","type":"link in","z":"64c7fbb4.483b9c","name":"-> triggerCheerlights","links":["f0048e1b.bc0038"],"x":345,"y":440,"wires":[["ca071dcc.cb974"]]},{"id":"61df1e9a.a32208","type":"debug","z":"64c7fbb4.483b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1100,"wires":[]},{"id":"7faedac6.1e65c4","type":"delay","z":"64c7fbb4.483b9c","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":780,"wires":[["f0048e1b.bc0038"]]},{"id":"b52801ad.0953c","type":"debug","z":"64c7fbb4.483b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":1060,"wires":[]},{"id":"16cd61e9.711796","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1100,"wires":[["9bca1a58.e881a8"]]},{"id":"338ab92e.279316","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":450,"y":1140,"wires":[["9bca1a58.e881a8"]]},{"id":"13850f75.651e01","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1180,"wires":[["9bca1a58.e881a8"]]},{"id":"e5b607e2.e47dc","type":"link out","z":"f510c508.31a07","name":"touch2 (cheerlights)","links":["88e19763.a09658"],"x":555,"y":760,"wires":[]},{"id":"bc729f3a.57bb38","type":"function","z":"f510c508.31a07","name":"Toggle flow.cheerlevel","func":"var values = [0, 1, 2]\nvar cheerlevel = flow.get(\"cheerlevel\") || 0;\nif (values.findIndex(element => element === cheerlevel) == (values.length - 1)) {\n    flow.set(\"cheerlevel\", values[0]);\n}\nelse {\n    flow.set(\"cheerlevel\", values[values.findIndex(element => element === cheerlevel)+1]);\n}\nmsg.payload = cheerlevel;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":760,"wires":[["e5b607e2.e47dc"]]},{"id":"db013227.d34a8","type":"switch","z":"f510c508.31a07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":600,"wires":[[]]},{"id":"88e19763.a09658","type":"link in","z":"64c7fbb4.483b9c","name":"getCheerLevel","links":["e5b607e2.e47dc"],"x":180,"y":1020,"wires":[["aa20b0d2.806168"]]},{"id":"fd1c20c6.c475f","type":"switch","z":"64c7fbb4.483b9c","name":"Lower fullCheerLights","property":"fullCheerLights","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":740,"wires":[["3fa9be0.0a7d6c2"]]},{"id":"3fa9be0.0a7d6c2","type":"change","z":"64c7fbb4.483b9c","name":"","rules":[{"t":"set","p":"fullCheerLights","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":740,"wires":[[]]},{"id":"1951c00d.ce11d8","type":"rpi-gpio out","z":"33a069d5.a98d86","name":"Capacitive touch power","pin":"40","set":true,"level":"1","freq":"","out":"out","x":290,"y":180,"wires":[]},{"id":"39a3223.8ca8fde","type":"inject","z":"33a069d5.a98d86","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["1951c00d.ce11d8"]]},{"id":"e156e4d2.462a6","type":"inject","z":"33a069d5.a98d86","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["1951c00d.ce11d8"]]},{"id":"9e6080db.098e","type":"ui_colour_picker","z":"301038a5.c63028","name":"","label":"","group":"b9dbe779.2b24e8","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":false,"topic":"","x":110,"y":40,"wires":[["e513b196.c09b58","fa5aae28.054198"]]},{"id":"e513b196.c09b58","type":"debug","z":"301038a5.c63028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":40,"wires":[]},{"id":"fa5aae28.054198","type":"link out","z":"301038a5.c63028","name":"Send Colour Picker Colour","links":["193cd487.b85f8b"],"x":280,"y":140,"wires":[]},{"id":"cd26e53f.866a18","type":"link in","z":"64c7fbb4.483b9c","name":"Set One Pixel","links":[],"x":1180,"y":120,"wires":[["8c5fe659.4901f"]]},{"id":"193cd487.b85f8b","type":"link in","z":"64c7fbb4.483b9c","name":"Set All Pixels","links":["fa5aae28.054198"],"x":860,"y":480,"wires":[["dd9af336.12ee38"]]},{"id":"2b5564e7.f6ef9c","type":"debug","z":"64c7fbb4.483b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1200,"y":500,"wires":[]},{"id":"57ccf301.88219c","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["cc6a6f8b.33e0a8"]]},{"id":"cc6a6f8b.33e0a8","type":"function","z":"64c7fbb4.483b9c","name":"","func":"node.warn(flow.get(\"pix\"));\nreturn null;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[[]]},{"id":"b2bbc85.7bda938","type":"debug","z":"f510c508.31a07","name":"T0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":160,"wires":[]},{"id":"37ce3e0b.8087aa","type":"debug","z":"f510c508.31a07","name":"T1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":320,"wires":[]},{"id":"95f3618d.b02948","type":"debug","z":"f510c508.31a07","name":"T2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":480,"wires":[]},{"id":"6c6c6fcc.acf7b","type":"inject","z":"64c7fbb4.483b9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":600,"wires":[["332b7adf.0ff7b6"]]},{"id":"8178b278.946fc8","type":"inject","z":"f510c508.31a07","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["994d6ac.91e6418"]]},{"id":"c4e3c4aa.a45378","type":"inject","z":"f510c508.31a07","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[["df767298.27654"]]},{"id":"c82b6e57.3cb65","type":"inject","z":"f510c508.31a07","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["db013227.d34a8"]]},{"id":"60bfa20b.c26aa4","type":"inject","z":"f510c508.31a07","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["c30c7414.5c6a28"]]},{"id":"ec6890da.9ebf","type":"ui_button","z":"301038a5.c63028","name":"","group":"58ec395a.5261c8","order":0,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":220,"wires":[["4f55ae5d.9635b"]]},{"id":"4f55ae5d.9635b","type":"link out","z":"301038a5.c63028","name":"ShutdownButtonPressed","links":[],"x":355,"y":260,"wires":[]},{"id":"d6b89c1c.b64a","type":"link in","z":"33a069d5.a98d86","name":"triggerShutdown","links":[],"x":100,"y":120,"wires":[["d099018f.751618"]]},{"id":"4261c1e7.640b48","type":"comment","z":"f510c508.31a07","name":"Front","info":"","x":90,"y":200,"wires":[]},{"id":"42c59e6.b6240e","type":"comment","z":"f510c508.31a07","name":"Left (looking at front)","info":"","x":140,"y":680,"wires":[]},{"id":"40279868.4de7c","type":"comment","z":"f510c508.31a07","name":"Right (Looking at front)","info":"","x":140,"y":360,"wires":[]},{"id":"da413e6d.586e38","type":"comment","z":"f510c508.31a07","name":"Back","info":"","x":90,"y":520,"wires":[]},{"id":"dad59390.33578","type":"inject","z":"f510c508.31a07","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["11d4e03d.885e88"]]},{"id":"11d4e03d.885e88","type":"switch","z":"f510c508.31a07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":120,"wires":[[]]},{"id":"c30c7414.5c6a28","type":"switch","z":"f510c508.31a07","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":760,"wires":[["bc729f3a.57bb38"]]},{"id":"c1f24fe5.9154b","type":"comment","z":"f510c508.31a07","name":"Underneath","info":"","x":110,"y":40,"wires":[]}]